window {

background:#1e1e2e;

border-radius:15px;

}


#input {

margin:10px;

padding:10px;

background:#313244;

color:#cdd6f4;

border-radius:10px;

}


#entry {

padding:10px;

}


#entry:selected {

background:#89b4fa;

color:#1e1e2e;

border-radius:10px;

}